@model IEnumerable<examDotNet.Models.Categorie>

@{
    ViewData["Title"] = "Gestion des Catégories";
}

<h1>Liste des Catégories</h1>

<p>
    <a asp-action="CreateCategory" class="btn btn-success">Créer une nouvelle catégorie</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.id_categorie)</td>
            <td>@Html.DisplayFor(modelItem => item.nom_categorie)</td>
            <td>
                <a asp-action="EditCategory" asp-route-id="@item.id_categorie" class="btn btn-primary">Modifier</a>
                <a asp-action="CategoryDetails" asp-route-id="@item.id_categorie" class="btn btn-info">Détails</a>
                <a asp-action="DeleteCategory" asp-route-id="@item.id_categorie" class="btn btn-danger">Supprimer</a>
            </td>
        </tr>
        }
    </tbody>
</table>