@model IEnumerable<examDotNet.Models.Produit>

@{
    ViewData["Title"] = "Gestion des Produits";
}

<h1>Liste des Produits</h1>

<p>
    <a asp-action="CreateProduct" class="btn btn-success">Créer un nouveau produit</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prix</th>
            <th>Catégorie</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.IdProduit)</td>
            <td>@Html.DisplayFor(modelItem => item.NomProduit)</td>
            <td>@Html.DisplayFor(modelItem => item.Prix) €</td>
            <td>@Html.DisplayFor(modelItem => item.Categorie.nom_categorie)</td>
            <td>
                <a asp-action="EditProduct" asp-route-id="@item.IdProduit" class="btn btn-primary">Modifier</a>
                <a asp-action="ProductDetails" asp-route-id="@item.IdProduit" class="btn btn-info">Détails</a>
                <a asp-action="DeleteProduct" asp-route-id="@item.IdProduit" class="btn btn-danger">Supprimer</a>
            </td>
        </tr>
        }
    </tbody>
</table>